# compiled output
dist

# dependencies
node_modules
package-lock.json

# tests
coverage

# git, vs config
.git
.husky
.vscode

# docs
CHANGELOG.md
README.md

# devops
devops

# lint
commitlint.config.ts
.gitignore